body{
	background-image: url("img/background.png");
	background-size: cover;
	background-repeat:repeat;
	color: white;
	font-family: main-font;
	background-color: black;

	 }

h1, h2{
	margin: 0;
}

p{
	font-size: 1.2em;
	line-height: 1.6em;
}

@font-face {
  font-family: main-font;
  src: url(ayuthaya.ttf);
}

@font-face {
  font-family: heading-font;
  src: url(AnonymousPro-Regular.ttf);
}



.em2{
	font-size: 2em;
}

.em3{
	font-size: 3em;
}


.heading-font{
	font-family: heading-font;
}

.second-colour{
	color: #ffe30c;
}

.underline{
	text-decoration: underline;
}


.flex{
	display: flex;
}

.row{
	flex-direction: row;
}


.flex-end{
	justify-content: flex-end;
}


.flex-column{
	flex-direction: column;
}

.padding{
	padding: 1em;
}


header{
	height: 15vh;
	margin-right: 10vw;
	font-size: 1.4em;
	align-items: flex-end;
	width: 100%;

}

.nav-links{
	padding-right: 1.3em;
	display: flex;
	align-items: flex-end;
}

.social{
	width: 1.7em;
	text-decoration: none;
}

a{
	text-decoration: none;
}

.text-body{
	width: 40vw;
	margin-left: 10vw;
}

main{
	align-items: center;
}

.featured-img{
	width: 30vw;
	margin-left: 3em;
}



@media only screen and (max-width: 1000px) {
  
body{
	margin: 0;
}


.text-body{
	width: 90vw;
	margin-left: 1em;
	font-size: 1.2rem;
}

.featured-img{
	margin-left: 0.5em;
	display: none;
	overflow: hidden;
}

header{
	margin-right: 0vw;
	width: 100vw;
	height: 16vw;
	margin-bottom: 1em;
	overflow: hidden;

}

.nav-links{
	padding-right: 1.3em;
	display: flex;
	align-items: flex-end;
}

.padding{
	padding: 0;
}

.social{
padding-left: 0.8em;
}

	
}