.home{
	background-image: url("img/background.jpeg");
	background-size: cover;
	background-repeat:repeat;
	color: white;
	font-family: main-font;
	background-color: black;
	 }


	 .my-work{
	 	background-color: black;
	 	margin-top: 10em;
	 	width: 60vw;

	 }

canvas{
	display: flex;
	float: right;
	width: 0;
	height: 0;
	}

h1, h2{
	margin: 0;
}

p{
	font-size: 1.2em;
	line-height: 1.6em;
}

@font-face {
  font-family: main-font;
  src: url(ayuthaya.ttf);
  font-display: swap;

}

@font-face {
  font-family: heading-font;
  src: url(AnonymousPro-Regular.ttf);
  font-display: swap;

}



.em2{
	font-size: 2em;
}

.em3{
	font-size: 3em;
}


.heading-font{
	font-family: heading-font;
}

.white{
	color: white;
}

.second-colour{
	color: #ffe30c;
}

.underline{
	text-decoration: underline;
}

.link-pur:hover{
	text-decoration: none;
	color: #6306D6;
}

.link-ora:hover{
	text-decoration: none;
	color: #ff360d;
}



.flex{
	display: flex;
}

.row{
	flex-direction: row;
}


.flex-end{
	justify-content: flex-end;
}


.flex-column{
	flex-direction: column;
}

.padding{
	padding: 1em;
}

.p-bottom1{
	padding-bottom: 3em;
}




.left-2{
	margin-left: 2em;
}

header{
	height: 15vh;
	margin-right: 10vw;
	font-size: 1.4em;
	align-items: flex-end;
	width: 100%;

}

.nav-links{
	padding-right: 1.3em;
	display: flex;
	align-items: flex-end;
}

.nav-links a:hover{
	color: slateblue;
}

.social{
	width: 1.7em;
	text-decoration: none;
}

.social:hover{
opacity: 0.8;}



a{
	text-decoration: none;
}

.text-body{
	width: 40vw;
	margin-left: 10vw;
}

main{
	align-items: center;
}


body .article a,h1,h2{
	color: #ffe30c;
}

body .article h2{
	margin-top: 3em;
}


.article-body{
	background-image: url("img/new-background.jpg");
	background-size: cover;
	background-repeat:repeat;
	color: white;
	font-family: main-font;
	background-color: black;
}


.sidebar-left{
	width: 35vw;
	margin-right: 5em;
	margin-top: 9.5em;
}

.sidebar-icons{
	width: 50px;
	margin-right: 1em;
	margin-left: 2em;
}


.featured-image{
	width: 35vw;
}




main.article {
display: flex;
align-items: flex-start;
}


.main-article{
	max-width: 65vw;
	margin-right: 6em;
	margin-top: 5em;
}

.main-article img{
	max-width: 100%;
}


.article-link{
	display: flex;
	align-items: center;
	font-size: 1.3em;
	margin-bottom: 2em;
	margin-right: 1em;
}

.article-link a:hover{
	color:slateblue;
}


main.archieve{
	margin-left: 10em;
}

main.archieve p{
	font-size: 1em;
}




.blog-item{
	display: flex;
	align-items: center;
	margin-bottom: 5em;
}

.blog-text{
	flex-direction: column;
	width: 40vw;
}

.blog-heading{
	display: flex;
	align-items: flex-start;
}



.blog-icon{
	width: 3.5em;
	margin-left: 0.5em;
}

.date{
	font-size:0.7em;
	color: white;
	margin-top: 10px;
	color: slateblue;
}

.intro-blog{
	margin-top: 0.5em;
}

.temp{
	margin-bottom: 2em;
}


.blog-heading h2:hover{
	color: slateblue;

}



.hover-image{
	width: 20vw;
	margin-left: 7rem;

}


@media only screen and (max-width: 1000px) {
  
body{
	margin: 0;
}


.text-body{
	width: 90vw;
	margin-left: 1em;
	font-size: 1.2rem;
}

.featured-img{
	margin-left: 0.5em;
	display: none;
	overflow: hidden;
}

header{
	margin-right: 0vw;
	width: 100vw;
	height: 16vw;
	margin-bottom: 1em;
	overflow: hidden;

}

.nav-links{
	padding-right: 1.3em;
	display: flex;
	align-items: flex-end;
	font-size: 0.9em;
}


.nav-links a{
	padding: 0.5em;
}

.padding{
	padding: 0;
}

.social{
padding-left: 0.8em;
}

canvas{
opacity: 0.3;
float: right;
}


main.article{
	flex-direction: column;
	max-width: none;
}

.main-article{
	margin-right: 2em;
	max-width: none;
		margin-left: 2em;
		margin-top: 0;

}

.featured-image{
	width: 95vw;
}


.sidebar-links{
	display: none;
}


	
}


@media only screen and (max-width: 800px) {



main.archieve{
	margin-left: 3em;
}

.blog-text{
	width: 100vw;
}



.hover-image{
	display: none;
}


}





@media only screen and (max-width: 500px) {

	.nav-links{
		
		font-size: 0.7em;
	}

	.main-article{
		margin-left: 1em;
	}

	.blog-icon{
		width: 3em;
	}

}